
@model AddQuestionLevelModel

<main id="main" class="main">

    <div class="container mt-5">
        <h4 class="mb-3">Update Question Level</h4>
        <div class="card p-4 shadow-sm">
            <form asp-controller="QuestionLevel" asp-action="AddAndEdit" method="post">
                <input type="hidden" asp-for="@Model.QuestionLevelID" />
                <div class="mb-3">
                    <label for="questionLevel" class="form-label fw-bold">Question Level <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="questionLevel" placeholder="Enter a question level (e.g., Easy, Medium, Hard)" asp-for="QuestionLevel">
                    <span class="text-danger" asp-validation-for="QuestionLevel"></span>
                </div>

                @* user id *@   
                <div class="mb-3">
                    <label for="Userid" class="form-label fw-bold">User Id <span class="text-danger">*</span></label>
                    <select class="form-control" asp-for="UserId">
                        <option value="">Select UserID</option>
                        @foreach (var user in ViewBag.Userlist)
                        {
                            <option value="@user.UserID">@user.UserName</option>
                        }
                    </select>
                    <span class="text-danger" asp-validation-for="UserId"></span>
                </div>

                <!--  Modified Questions -->
                <div class="mb-3">
                    <label for="quizDate" class="form-label fw-bold">Modified <span class="text-danger">*</span></label>
                    <input type="date" class="form-control" id="Modified" asp-for="Modified">
                    <span class="text-danger" asp-validation-for="Modified"></span>
                </div>

                <div class="d-flex gap-2">
                    <button type="submit" class="btn btn-success">Save</button>
                    <button type="reset" class="btn btn-danger">Cancel</button>
                </div>
            </form>
        </div>
    </div>

</main>