@model DataTable
@using System.Data
@{
    ViewData["Title"] = "Home Page";
    var quizzes = ViewData["RecentQuizzes"] as DataTable;
    var questions = ViewData["RecentQuestions"] as DataTable;
}

<div class="pagetitle">
    <h1>Dashboard Statistics</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="" asp-controller="Home" asp-action="Index">Admin</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-area="" asp-controller="Home" asp-action="Index">Dashboard</a>
            </li>
        </ol>
    </nav>
</div>

<main id="main" class="main">

    <div class="container">
        <div class="row mb-5">
            <div class="col-sm-4">
                <div class="container bg-white w-100 p-2 border border-dark border-1 rounded">
                    <div class="row">
                        <div class="col-12">
                            <h3>Total Quizzes</h3>
                        </div>
                    </div>
                    <div class="row mb-3"><hr /></div>
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-sm-2 text-primary bg-primary-subtle p-2 ms-2 d-flex justify-content-center align-items-center fs-5 border rounded-circle">
                            <i class="bi bi-cart"></i>
                        </div>
                        <div class="col-12 text-center">
                            <h4>10</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="container bg-white w-100 p-2 border border-dark border-1 rounded">
                    <div class="row">
                        <div class="col-12">
                            <h3>Total Questions</h3>
                        </div>
                    </div>
                    <div class="row mb-3"><hr /></div>
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-sm-2 text-warning bg-warning-subtle p-2 ms-2 d-flex justify-content-center align-items-center fs-5 border rounded-circle">
                            <i class="bi bi-question-circle"></i>
                        </div>
                        <div class="col-12 text-center">
                            <h4>10</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="container bg-white w-100 p-2 border border-dark border-1 rounded">
                    <div class="row">
                        <div class="col-12">
                            <h3>Total Question Levels</h3>
                        </div>
                    </div>
                    <div class="row mb-3"><hr /></div>
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-sm-2 text-success bg-success-subtle p-2 ms-2 d-flex justify-content-center align-items-center fs-5 border rounded-circle">
                            <i class="bi bi-bar-chart"></i>
                        </div>
                        <div class="col-12 text-center">
                            <h4>10</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-6">
                <div class="container p-3 bg-white w-100 p-2 border border-dark border-1 rounded">
                    <div class="row">
                        <div class="col-12"><h3>Recent 10 Quizzes</h3></div>
                    </div>
                    <div class="row mb-3"><hr /></div>
                    <div class="row">
                        <div class="col-12">
                            @if (quizzes != null && quizzes.Rows.Count > 0)
                            {
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                @foreach (DataColumn col in quizzes.Columns)
                                                {
                                                    <th>@col.ColumnName</th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (DataRow row in quizzes.Rows)
                                            {
                                                <tr>
                                                    @foreach (var item in row.ItemArray)
                                                    {
                                                        <td style="word-break: break-word; white-space: nowrap;">@item</td>
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            else
                            {
                                <p>No recent quizzes available.</p>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="container p-3 bg-white w-100 p-2 border border-dark border-1 rounded">
                    <div class="row">
                        <div class="col-12"><h3>Recent 10 Questions</h3></div>
                    </div>
                    <div class="row mb-3"><hr /></div>
                    <div class="row">
                        <div class="col-12">
                            @if (questions != null && questions.Rows.Count > 0)
                            {
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                @foreach (DataColumn col in questions.Columns)
                                                {
                                                    <th>@col.ColumnName</th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (DataRow row in questions.Rows)
                                            {
                                                <tr>
                                                    @foreach (var item in row.ItemArray)
                                                    {
                                                        <td style="word-break: break-word; white-space: nowrap;">@item</td>
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            else
                            {
                                <p>No recent questions available.</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
